<div *ngIf="isDisplay">
  <div class="container-fluid mt-3">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-12">

        <mat-form-field style="width: 100%;">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>

      </div>

      <div class="col-md-3 col-sm-3 col-12">
        <button mat-raised-button color="primary" [disabled]="updateAllRecordsCount===0" class="width-100 mt-2"
          (click)="updateAll()">Update Quantity
          (<span>{{updateAllRecordsCount === 0 ? 0 : updateAllRecordsCount}}</span>) </button>
      </div>

      <div class="col-md-3 col-sm-3 col-12">
        <button mat-raised-button color="primary" class="width-100 mt-2" (click)="goToCategories()">Add New Products
        </button>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-12 col-sm-12">

    <table mat-table [dataSource]="dataSource">


      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="width: 20px;">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? [selection.toggle(row),onChange($event)] : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          <h5>
            {{element.name}}
          </h5>
        </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Units</th>
        <td mat-cell *matCellDef="let element">
          <h5>
            {{element.Unit}}
          </h5>

        </td>
      </ng-container>



      <ng-container matColumnDef="finalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element; let i = index">

          <h5>
            {{element.FinalPrice |number}}
          </h5>

        </td>
      </ng-container>

      <ng-container matColumnDef="requiredQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field style="min-width:auto;max-width: 30px;">
            <input matInput placeholder="Quantity" [(ngModel)]="element.RequiredQuantity" appNumber>
          </mat-form-field>

        </td>
      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef><span style=" color: #008000;">Update</span></th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-cart-plus fa-2x cart-icon" style="cursor: pointer;" aria-hidden="true"
            (click)="openUpdateModal(updatetemplate,element)"></i>

        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openModal(template,element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>

  </div>
  <mat-divider class="my-3" style="background-color: #008000;"></mat-divider>

  <div class="container-fluid">
    <h4 class="font-weight-bold">Please Enter Your Mobile No : </h4>
    <div class="row">
      <div class="col-md-3 col-6 col-sm-2">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Mobile Number" autocomplete="off" [(ngModel)]="mobileNo" appNumber
            (input)="mobileNoCount()" [maxLength]="maxLengthPhone" />
        </mat-form-field>
      </div>
      <div class="col-md-2 col-6 col-sm-2">
        <button mat-raised-button color="primary" class="width-100 mt-2" (click)="verifyUserData()"
          [disabled]="!isMobileNoValid">Proceed
        </button>
      </div>

      <div class="col-md-3 col-sm-4 col-12">
        <mat-form-field style="width: 100% !important;">
          <mat-placeholder [ngClass]="isMobileNumberEntered === true ? 'select-backGroundColor' : ''">Select Address
          </mat-placeholder>
          <mat-select [(ngModel)]="selectedAddressId" [disabled]="!isMobileNumberEntered">
            <mat-option *ngFor="let item of addressData;" [value]="item.id" (click)="selectedAddressFromList(item)">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-2 col-sm-4 col-12">
        <button mat-raised-button color="primary" [disabled]="!isMobileNumberEntered" (click)="addNewAddress()"
          class="width-100 mt-2">Add Address
        </button>
      </div>

      <div class="col-md-2 col-sm-4 col-12">
        <button mat-raised-button color="primary" [disabled]="!isMobileNumberEntered" (click)="editAddress()"
          class="width-100 mt-2">Edit Address
        </button>
      </div>
    </div>
  </div>


  <div class="container-fluid my-5">
    <div class="row justify-content-center">
      <div class="col-md-9 col-sm-9 col-12">

        <div class="row">

          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Name" [(ngModel)]="address.name" readonly />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Mobile Number" [(ngModel)]="address.mobilenumber" readonly />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="House No" [(ngModel)]="address.flatNo" readonly />
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Society" [(ngModel)]="address.societyName" readonly />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Land Mark" [(ngModel)]="address.locality" readonly />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Pin Code" [(ngModel)]="address.pincode" readonly />
            </mat-form-field>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="City" [(ngModel)]="address.city" readonly />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Area" [(ngModel)]="address.areaName" readonly />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-4 col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="State" [(ngModel)]="address.state" readonly />
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-3 col-12 mt-2">
        <div class="card" style="width: 100%; height: 205px;">
          <h3 class="mt-3" style="text-align: center;color:blue;">Order Summary </h3>

          <p class="text-center font-weight-bold">Total Items Ordered : {{totalItemsOrdered}}</p>

          <p class="text-center font-weight-bold">Total MRP : {{totalMRP}}</p>
          <p class="text-center font-weight-bold">Total Discount : {{totalDiscount}}</p>
          <p class="text-center font-weight-bold" style="color: blue;">Total Payable Amount : {{totalPayableAmount}}</p>
        </div>
      </div>

    </div>
  </div>


  <div class="container-fluid my-3">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-6">
        <p style="text-align: left;width: 100%;" class="font-weight-bold">Delivery Type</p>
        <mat-form-field style="width: 100% !important;">
          <mat-select [(ngModel)]="purchaseProducts.DeliveryType">
            <mat-option *ngFor="let item of deliveryType;" [value]="item.type"
              (click)="selectedDeliveryTypeFromList(item)">
              {{item.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-3 col-6">
        <p style="text-align: left;width: 100%;" class="font-weight-bold">Payment</p>
        <mat-form-field style="width: 100% !important;">
          <mat-select [(ngModel)]="purchaseProducts.PaymentType">
            <mat-option *ngFor="let item of paymentType;" [value]="item.type"
              (click)="selectedPaymentTermFromList(item)">
              {{item.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-3 col-6">
        <p style="text-align: left;width: 100%;" class="font-weight-bold">Delivery Date</p>

        <mat-form-field style="width: 100% !important;">
          <input matInput [matDatepicker]="picker1" name="datepicker" autocomplete="off" [min]="minDate"
            [(ngModel)]="purchaseProducts.DeliveryDate" (dateInput)="addEvent('input', $event)"
            (dateChange)="addEvent('change', $event)" readonly />
          <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>

        </mat-form-field>

      </div>


      <div class="col-md-3 col-sm-3 col-6">
        <p style="text-align: left;width: 100%;" class="font-weight-bold">Delivery Time</p>
        <mat-form-field style="width: 100% !important;">
          <mat-select [(ngModel)]="purchaseProducts.DeliveryTime">
            <mat-option *ngFor="let item of deliveryTime;" [value]="item.type"
              (click)="selectedDeliveryTimeFromList(item)">
              {{item.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-12">
        <mat-form-field style="width: 100%;">
          <mat-placeholder [ngClass]="isMobileNumberEntered === true ? 'select-backGroundColor' : ''">Enter Email ID
          </mat-placeholder>
          <input matInput name="society" [(ngModel)]="payuform.EmailID" [disabled]="!isMobileNumberEntered || !isOnlineTransactionModeSelected"
            autocomplete="off">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-6 col-sm-6"></div>
      <div class="col-md-3 col-6 col-sm-6"> <button mat-raised-button color="primary"
          *ngIf="!isOnlineTransactionModeSelected && !makePayment"
          [disabled]="!isAddressSelected || !isDeliveryType || !ispaymentType || !isDeliveryDate || !isDeliveryTime"
          class="width-100 mt-2" (click)="placeOrder()">Place Order
        </button></div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row my-3">
      <div class="col-md-9 col-sm-9 col-12"></div>

      <div class="col-md-12 col-sm-12 col-12">

        <form ngNoForm name="payuform" [action]="buyProductsService.pUrl" method="POST"
          onsubmit="window.replace('_self');">
          <div class="form-group" *ngIf="!isHidden">
            <label for="firstname">Name:</label>
            <input type="text" class="form-control" id="firstname" name="Name" [(ngModel)]="payuform.Name">
          </div>
          <div class="form-group" *ngIf="!isHidden">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="EmailID" [(ngModel)]="payuform.EmailID">
          </div>
          <div class="form-group" *ngIf="!isHidden">
            <label for="email">Phone:</label>
            <input class="form-control" id="phone" name="mobilno" [(ngModel)]="payuform.mobilno" maxlength="10"
              NumberDirective>
          </div>
          <div class="form-group" *ngIf="!isHidden">
            <label for="amount">Amount:</label>
            <input type="number" class="form-control" id="amount" name="Amount" [(ngModel)]="payuform.Amount" readonly>
          </div>


          <div class="row">
            <div class="col-md-9 col-6 col-sm-6"></div>
            <div class="col-md-3 col-6 col-sm-6">
              <button *ngIf="isOnlineTransactionModeSelected && !makePayment" mat-raised-button color="primary"
                [disabled]="!payuform.EmailID || !isAddressSelected || !isDeliveryType || !ispaymentType || !isDeliveryDate || !isDeliveryTime"
                class="width-100 mt-2" (click)="confirmPayment()">Confirm</button>
              <button type="button" *ngIf="!disablePaymentButton && makePayment" class="btn btn-success"
                class="width-100 mt-2" type="submit">Make Payment</button>
            </div>
          </div>


        </form>
      </div>
      <div class="col-md-3 col-sm-3 col-12 width-100">


      </div>


    </div>

  </div>
</div>



<h3 style="text-align: center;color:blue;margin-top: 60px !important;" *ngIf=" !isDisplay">Your Cart is Empty</h3>

<button mat-raised-button color="primary" class="mt-2 mx-auto d-block" *ngIf=" !isDisplay"
  (click)="goToCategoriesPage()">Continue Shopping
</button>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Do You Want To Remove This Product From Cart?</p>
    <button type="button" class="btn btn-primary mr-1" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="decline()">No</button>
  </div>
</ng-template>

<ng-template #updatetemplate>
  <div class="modal-body text-center">
    <p>Do You Want To Update This Product?</p>
    <button type="button" class="btn btn-primary mr-1" (click)="updateConfirm()">Yes</button>
    <button type="button" class="btn btn-danger" (click)="decline()">No</button>
  </div>
</ng-template>