.width-100{
    width: 100% !important;
    min-width: unset!important;
}


.mat-column-select {
    flex: none;
    width: 50px !important;
 } 

 
mat-form-field {
    min-width: 30px !important;
 }
 table {
    width: 100%;
 }  

 mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 30%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 10%;
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-name {
    word-wrap: break-word;
    text-align: left;
    max-width: 60px !important;
}

.mat-column-finalPrice {
    text-align: center;

}

.mat-column-requiredQuantity {
    text-align: center;

}

.mat-column-delete {
    text-align: center;
}
.mat-column-update {
    text-align: center;
}

.cart-icon {
    color: #008000;
  }