<div class="conatainer-fluid my-2" style="overflow-x: hidden;overflow-y: hidden; padding-bottom:10px;">
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 my-app">
            <div class="row" style="max-height: 80px;min-height: 70px;">
                <div class="spacer"></div>
                <div class="col-md-1 col-sm-3 col-3 text-center mt-1">

                    <mat-icon class="home-icon" (click)="goToCategories()">home</mat-icon><br />
                    <p class="home-text font-weight-bold" (click)="goToCategories()">Home
                    </p>


                </div>

                <div class="spacer"></div>

                <div class="col-md-1 col-sm-3 col-3 text-center mt-1">

                    <mat-icon class="address-icon" (click)="goToAddress()">person_add</mat-icon><br />
                    <p class="address-text font-weight-bold" (click)="goToAddress()">Add Address
                    </p>


                </div>
                <div class="spacer"></div>
                <div class="col-md-1 col-sm-3 col-3 text-center mt-1">

                    <mat-icon class="cart-icon" (click)="goToCart()">shopping_cart</mat-icon><br />
                    <p class="cart-text font-weight-bold" (click)="goToCart()">Basket</p>


                </div>
                <div class="spacer"></div>
                <div class="col-md-1 col-sm-3 col-3 text-center mt-1">

                    <mat-icon class="order-icon" (click)="goToMyOrders()">reorder</mat-icon>
                    <br />
                    <p class="order-text font-weight-bold" (click)="goToMyOrders()">My Orders
                    </p>


                </div>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</div>