<div class="container-fluid">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="http://203.112.144.38/uat_app-gramvyapar/assets/images/logo1.png" alt="image" height="40px"
                class="img-responsive">
        </div>

    </div>
    <!-- <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <p style="color: #008000;" class="font-weight-bold mt-2"> Vendor Name : {{sellerName}}</p>
        </div>

    </div> -->
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <p style="color:#FF8C00;" class="font-weight-bold text-center">
                <span style="color: #008000;" class="font-weight-bold mt-2"> Vendor Name : {{sellerName}}</span><br>Vendor Code :
                {{vendorCode}}<br>
                Vendor Contact No : {{vendorContactNo}}
            </p>
        </div>
    </div>
    <div class=" row" *ngIf="isFirstTime">
                    <div class="col d-flex align-items-center justify-content-center text-center">
                        <p class="font-weight-bold">
                            Welcome To Our Online Store <br> Please Press Continue and Enjoy Shopping.



                    </div>
        </div>
        <div class="row" *ngIf="isFirstTime">
            <div class="col d-flex align-items-center justify-content-center">
                <button mat-raised-button class="mt-2" color="primary" (click)="continueShopping()">Continue
                </button>
            </div>
        </div>


    </div>

    <div *ngIf="!isFirstTime">
        <div class="conatainer-fluid" style="overflow-x: hidden; padding-bottom:10px;background-color: white;">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 my-app">
                    <div class="row" style="max-height: 80px;min-height: 70px;">
                        <div class="spacer"></div>
                        <div class="col-md-1 col-sm-3 col-3 text-center">

                            <mat-icon class="home-icon" (click)="goToCategories()">home</mat-icon><br />
                            <p class="home-text font-weight-bold" (click)="goToCategories()">Home
                            </p>


                        </div>

                        <div class="spacer"></div>
                        <div class="col-md-1 col-sm-3 col-3 text-center">

                            <mat-icon class="cart-icon" (click)="goToCart()">shopping_cart</mat-icon><br />
                            <p class="cart-text font-weight-bold" (click)="goToCart()">Basket
                                (<span>{{productCount === 0 ? 0 : productCount}}</span>)</p>

                        </div>
                        <div class="spacer"></div>
                        <div class="col-md-1 col-sm-3 col-3 text-center">

                            <mat-icon class="order-icon" (click)="goToMyOrders()">reorder</mat-icon>
                            <br />
                            <p class="order-text font-weight-bold" (click)="goToMyOrders()">My Orders</p>


                        </div>
                        <div class="spacer"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>