.spacer{
    flex: 1 1 auto;
}
*:focus {
    outline: none;
}

mat-icon{
    cursor: pointer;
}

.my-app
{
    background:transparent;
    color: black;
}

.cart-icon{
    color: #008000;
}
.cart-text{
    color: #008000;
}

.home-icon{
    color: #FF8C00;
}

.home-text{
    color: #FF8C00;
}

.address-icon{
    color: #545b62;
}

.address-text{
    color: #545b62;
}

.order-icon{
    color: #1C86EE;
}

.order-text{
    color:#1C86EE;
}

p{
    cursor: pointer;
}

.login-icon{
    color: #ffff31;
}

.login-text{
    color: #ffff31;
}