<div class="container-fluid mt-3">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="http://203.112.144.38/uat_app-gramvyapar/assets/images/logo1.png" alt="image" height="60px"
                class="img-responsive">
        </div>

    </div>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <p style="color: #008000 ;" class="font-weight-bold mt-2"> Vendor Name : {{sellerName}}</p>
        </div>

    </div>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <p style="color:#FF8C00;" class="font-weight-bold mt-1 text-center"> Vendor Code : {{vendorCode}}<br>
                Vendor Contact No : {{vendorContactNo}}
            </p>
        </div>
    </div>


</div>
<div class="container-fluid font-weight-bold">
    <div class="row">
        <div class="col-md-3 col-6 col-sm-3 ">
            <h4 class="font-weight-bold">order NO:<br>{{orderNo | slice:-6 }}</h4>
  
        </div>
        <div class="col-md-3 col-6 col-sm-3 font-weight-bold">
            <h4 class="font-weight-bold">Delivery Date:<br>{{orderDate}} </h4>

        </div>
        <div class="col-md-3 col-6 col-sm-3 font-weight-bold">
            <h4 class="font-weight-bold">Delivery Type:<br>{{deliveryType}} </h4>

        </div>
        <div class="col-md-3 col-6 col-sm-3 font-weight-bold">
            <h4 class="font-weight-bold">Payment Type:<br>{{paymentType}}</h4>
 

        </div>

    </div>





    <div class="row">
        <div class="col-md-3 col-6 col-sm-3 ">
            <h4 class="font-weight-bold">Items Ordered:<br>{{totalItemsOrdered}}</h4>
           
        </div>
        <div class="col-md-3 col-6 col-sm-3 font-weight-bold">
            <h4 class="font-weight-bold">Total Cost:<br>{{totalMRP}} </h4>
      
        </div>
        <div class="col-md-3 col-6 col-sm-3 font-weight-bold">
            <h4 class="font-weight-bold">Total Discount:<br>{{totalDiscount}}</h4>
         
        </div>
        <div class="col-md-3 col-6 col-sm-3 font-weight-bold">
            <h4 class="font-weight-bold" style="color: #008000 ;">Payable Amt:<br>{{totalPayableAmount}}</h4>
        
        </div>

    </div>

    <mat-divider></mat-divider>
    <div class="container-fluid text-center mt-1">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <h4 class="font-weight-bold">Billing</h4>
                <h4>{{billing_name}} <br> ({{billing_mobileNo}}) <br> {{billing_flatNo}}, {{billing_society}} ,
                    {{billing_locality}} ,{{billing_area}} <br>
                    {{billing_city}} ,{{billing_state}}</h4>

            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container-fluid text-center mt-1">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <h4 class="font-weight-bold">Shipping</h4>
          
                <h4>{{shipping_name}} <br> ({{shipping_mobileNo}}) <br> {{shipping_flatNo}}, {{shipping_society}} ,
                    {{shipping_locality}} ,{{shipping_area}} <br>
                    {{shipping_city}} ,{{shipping_state}}</h4>
             
            </div>
        </div>
    </div>

</div>
<div class="row mb-4"></div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="PrdName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
            <h5>
                {{element.PrdName}}
            </h5>
        </td>
    </ng-container>

    <ng-container matColumnDef="ProductName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
        <td mat-cell *matCellDef="let element">
            <h5>
                {{element.ProductName}}
            </h5>
        </td>
    </ng-container>

    <ng-container matColumnDef="MRP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      
        <td mat-cell *matCellDef="let element">
            <h5>
                {{(element.MRP-element.Discount)  |number}}
            </h5>

        </td>
    </ng-container>
 
    <ng-container matColumnDef="QuantityOrdered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
        <td mat-cell *matCellDef="let element">
            <h5>
                {{element.QuantityOrdered |number}}
            </h5>
        </td>
    </ng-container>

    <ng-container matColumnDef="finalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span class="font-weight-bold"
                style="color: #008000">Total</span></th>
        <td mat-cell *matCellDef="let element; let i = index">
            <h5>
                {{element.FinalPrice  |number}}
            </h5>

        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>


<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
</div>