<div *ngIf="!isFirstTime">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 col-4">
        <mat-form-field style="width: 100% !important;">
          <mat-select placeholder="Category List" [(ngModel)]="selectedCategory">
            <mat-option *ngFor="let item of categoryListData;" [value]="item.id"
              (click)="selectedCategoryFromList(item)">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-6 col-4">
        <mat-form-field style="width: 100% !important;">
          <mat-select placeholder="Sub Category List" [(ngModel)]="selectedSubCategory">
            <mat-option value="all" (click)="onSubCategorySelectAll()">All</mat-option>
            <mat-option *ngFor="let item of subCategoryListData;" [value]="item.id"
              (click)="selectedSubCategoryFromList(item)">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-6 col-4">
        <mat-form-field style="width: 100% !important;">
          <mat-select placeholder="Brand List" [(ngModel)]="selectedBrands">
            <mat-option value="all" (click)="onBrandSelectAll()">All</mat-option>
            <mat-option *ngFor="let item of uniqueBrandNamesArray;" [value]="item.brandid"
              (click)="selectedBrandFromList(item)">
              {{item.brandname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="ng-autocomplete">
        <ng-autocomplete [data]="masterProductName" [searchKeyword]="keyword" placeHolder="Search Product"
          (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name" *ngIf="isProductSearch"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="mt-4"></div>
  <!-- <mat-divider class="mt-2"></mat-divider> -->
  <div *ngIf="isDataLoaded">

    <div class="container-fluid my-4" style="position: absolute;">
      <div class="row">

        <div class="col-md-6 col-sm-6 col-12 my-2"
          *ngFor="let element of brandsData | filter : searchResult;let j = index;">

          <mat-card style="margin: auto;">
            <div class="row">
              <div class="col-md-12 col-12 col-sm-6 text-center" style="color: #FF8C00;">
                <h3>{{element.name}}</h3>
              </div>

              <div class="col-md-12 col-12 col-sm-6 text-center">
                {{element.brandname}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-3 col-sm-3 text-center text-center ">
                <mat-form-field style="min-width:80%;max-width: 50px;">
                  <mat-placeholder class="select-backGroundColor">Varient
                  </mat-placeholder>
                  <mat-select id="productDetails" [(ngModel)]="txtVarient[j]">
                    <mat-option *ngFor="let item of element.productDetails;let i = index;" [value]="item.Unit"
                      (click)="selectedVarientFromList(element,i)">
                      {{item.Unit}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-4 col-sm-4 text-left" style="margin-top: 19px;">
                <h5 style="color: #008000;">Price:
                  <span [id]="'finalPrice'+element.productid" class="font-weight-bold" style="color: #008000;">
                    {{element.productDetails[0].FinalPrice | number}}</span>
                </h5>

              </div>

              <div class="col-md-3 col-3 col-sm-3 text-center text-center">
                <mat-form-field style="min-width:80%;max-width: 50px;">
                  <mat-placeholder class="select-backGroundColor">Quantity
                  </mat-placeholder>
                  <mat-select>
                    <mat-option *ngFor="let item of quantityList;" [value]="item.title"
                      (click)="selectedQuantityFromList(item,element)">
                      {{item.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-1 col-1 col-sm-1 text-right" style="margin-top: 19px;">
                <i class="fa fa-cart-plus fa-2x cart-icon" style="cursor: pointer;" aria-hidden="true"
                  (click)="onQuantityChange(element,element.mappingid,j,txtVarient[j])"></i>

              </div>
            </div>


          </mat-card>

        </div>

      </div>
    </div>

  </div>
</div>
<ngx-spinner></ngx-spinner>