<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-3 mt-2">
      <mat-form-field style="width: 100% !important;">
        <mat-select placeholder="Category List" [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let item of categoryListData;" [value]="item.id" (click)="selectedCategoryFromList(item)">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3 mt-2">
      <mat-form-field style="width: 100% !important;">
        <mat-select placeholder="Sub Category List" [(ngModel)]="selectedSubCategory">
          <mat-option value="all" (click)="onSubCategorySelectAll()">All</mat-option>
          <mat-option *ngFor="let item of subCategoryListData;" [value]="item.id"
            (click)="selectedSubCategoryFromList(item)">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3 mt-2">
      <mat-form-field style="width: 100% !important;">
        <mat-select placeholder="Brand List" [(ngModel)]="selectedBrands">
          <mat-option value="all" (click)="onBrandSelectAll()">All</mat-option>
          <mat-option *ngFor="let item of uniqueBrandNamesArray;" [value]="item.brandid"
            (click)="selectedBrandFromList(item)">
            {{item.brandname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>
<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-6 col-sm-6 col-6">
      <mat-form-field style="width: 100%;">

        <input matInput placeholder="Search Products" [(ngModel)]="searchResult"
          (keyup)="applyFilterOnKey($event.target.value)" autocomplete="off">
      </mat-form-field>
    </div>


    <div class="col-md-4 col-sm-6 col-6">

      <button mat-raised-button class=" mt-2 width-100" color="primary" (click)="applyFilter()">Search
      </button>

    </div>

  </div>
</div>





<div *ngIf="isDataLoaded">

 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <h5>
          {{element.name}}
        </h5>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="brandname">
      <th mat-header-cell *matHeaderCellDef>Brand</th>
      <td mat-cell *matCellDef="let element">
        <h5>
          {{element.brandname}}
        </h5>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="selectVarient">
      <th mat-header-cell *matHeaderCellDef>Varient</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field style="min-width:auto;max-width: 40px;">
          <mat-select id="productDetails" placeholder="Varient" [(value)]="element.productDetails[0].Unit">
  
            <mat-option *ngFor="let brand of element.productDetails;let i = index;" [value]="brand.Unit"
              (click)="selectedVarientFromList(element,i)">
              {{brand.Unit}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
      </td>
    </ng-container>
<!--   
    <ng-container matColumnDef="mrp">
      <th mat-header-cell *matHeaderCellDef>MRP</th>
      <td mat-cell *matCellDef="let element">
        <span [id]="'mrp'+element.productid">
          <h5>
            {{element.productDetails[0].MRP}}
          </h5>
        </span>
  
      </td>
    </ng-container>
   -->
    <!-- <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef>Discount</th>
      <td mat-cell *matCellDef="let element">
        <h5>
  
          <span [id]="'discount'+element.productid"> {{element.productDetails[0].Discount}}</span>
        </h5>
      </td>
    </ng-container> -->
  
    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        <h5>
  
          <span [id]="'finalPrice'+element.productid"> {{element.productDetails[0].FinalPrice | number}}</span>
        </h5>
  
      </td>
    </ng-container>
  
    <ng-container matColumnDef="requiredQuantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field floatLabel="never" style="min-width:auto;max-width: 25px;">
          <input matInput placeholder="Quantity" [(ngModel)]="element.mappingid">
        </mat-form-field>
  
      </td>
    </ng-container>
  
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef>Add</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="onQuantityChange(element,element.mappingid,i)">Add</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>