*:focus {
    outline: none;
}

.width-100{
    width: 100% !important;
    min-width: unset!important;
}

.spacer{
    flex: 1 1 auto;
}


.example-container {
 height: 400px;
overflow: auto;
}
  
table {
width: 100%;
}
mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 30%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 10%;
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

/* .mat-column-name {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}
.mat-column-brandname {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}
.mat-column-selectVarient {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}
.mat-column-mrp {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}
.mat-column-discount {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}
.mat-column-finalPrice {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}
.mat-column-requiredQuantity {
    flex: 0 0 25% !important;
    min-width: 104px !important;
} */

.mat-column-finalPrice {
   text-align: center;
}
.mat-column-name {
    word-wrap: break-word;
    text-align: left;
    max-width: 60px !important;
}
.mat-column-brandname {
    word-wrap: break-word;
    max-width: 60px !important;
}

.mat-column-requiredQuantity {
    text-align: right;
}

.mat-column-add {
    text-align: center;
}


.cart-icon {
    color: #008000;
  }

  .happy{
max-width: 50px !important;
  }