<!-- <div class="sticky-top"> -->

<!-- <div class="header-wrap">
  <app-header></app-header>
</div> -->
<!-- <div class="margin-top">
  <router-outlet></router-outlet>
</div> -->

<!-- <router-outlet (activate)="scrollTop($event)"></router-outlet> -->

<app-header></app-header>
<router-outlet></router-outlet>
<!-- <button class="float mb-3" (click)="onFloatClick()">Icon</button> -->
<ngx-scrolltop
  [backgroundColor]="'#212121'"
  [symbolColor]="'#fafafa'"
  [size]="40"
  [mode]="'classic'"
  position="right"
  theme="gray"> 
</ngx-scrolltop>