.margin-top{
    margin-top: 230px !important;
}

/* .header-wrap {
    position: fixed;
    height: 160px;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
} */

.float {
    position: fixed;
    bottom: 1rem;
    left: 1.5rem;
    width: 1.5em;
    height: 1.5em;
  }