<!-- <div class="sticky-top"> -->

<!-- <div class="header-wrap">
  <app-header></app-header>
</div> -->
<!-- <div class="margin-top">
  <router-outlet></router-outlet>
</div> -->

<!-- <router-outlet (activate)="scrollTop($event)"></router-outlet> -->

<app-header></app-header>
<router-outlet></router-outlet>
<!-- <button class="float mb-3" (click)="onFloatClick()">Icon</button> -->
<!-- <mat-icon class="cart-icon float mb-5" style="cursor: pointer;" (click)="onFloatClick()">shopping_cart</mat-icon> -->
<!-- <i class="fa fa-cart-plus fa-2x float mb-5" style="color:#008000;cursor: pointer;" (click)="onFloatClick()"></i> -->
<ngx-scrolltop
  [backgroundColor]="'#212121'"
  [symbolColor]="'#fafafa'"
  [size]="40"
  [mode]="'classic'"
  position="left"
  theme="gray"> 
</ngx-scrolltop>