<h3 class="text-center font-weight-bold" style="color:#008000">Payment Successful !!</h3>
<h4 class="font-weight-bold text-center">Thank you for your Order.<br /> Your Order No is : {{orderNo}}</h4>
<img src="assets/images/rightSign.png" alt="image" height="120px" class="img-responsive mx-auto d-block">
<div class="container">
    <div class="row justify-content-center mt-2">
        <button mat-raised-button color="primary" (click)="continueShopping()">Continue Shopping </button>
    </div>
</div>