<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-12"></div>
        <div class="col-md-2 col-sm-2 col-6">
            <button mat-raised-button class="width-100" (click)="openDialog()">Add Address</button>
        </div>
        <div class="col-md-2 col-sm-2 col-6">
            <button mat-raised-button class="width-100" (click)="GoToCart()">Go To Cart</button>
        </div>


        <div class="col-md-12 my-5">

            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <h5>
                            {{element.name}} 
                        </h5>
                       </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobileNumber">
                    <mat-header-cell *matHeaderCellDef> Mobile No </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <h5>
                            {{element.mobileNumber}}
                        </h5>
                      </mat-cell>
                </ng-container>

    
                <ng-container matColumnDef="pinCode">
                    <mat-header-cell *matHeaderCellDef> Pin Code </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <h5>
                            {{element.pincode}}
                        </h5>
                        </mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <h5>
                            {{element.city}}
                        </h5>
                         </mat-cell>
                </ng-container>


                <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        
                        <h5>
                            {{element.state}}
                        </h5>
                        
                       </mat-cell>
                </ng-container>


                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="editAddress(element)">
                        <mat-icon class="mat-18">edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
           

        </div>
    </div>
</div>